* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}

body.noscroll {
    position: fixed;
    overflow: hidden;
}


/* width */

body::-webkit-scrollbar {
    width: 10px;
}


/* Track */

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: rgb(44, 44, 44);
}


/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}


/*Scroll of fixed nav*/


/* width */

#nlist::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#nlist::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#nlist::-webkit-scrollbar-thumb {
    background: rgb(0, 190, 248);
}


/* Handle on hover */

#nlist::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 218, 255);
}

#navb {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgb(0, 0, 0);
    height: 60px;
    padding: 0px 10px;
    display: none;
}

#btn-list {
    cursor: pointer;
    z-index: 4;
    position: fixed;
    float: right;
    color: white;
    font-size: 40px;
    width: 50px;
    margin-right: 10px;
    text-align: center;
    right: 0;
    top: 0;
}

.logo {
    display: block;
    width: 250px;
    overflow: hidden;
    height: 100%;
    font-size: 30px;
}

.logo img {
    height: 100%;
}

.logo a {
    height: 100%;
    color: white;
    text-decoration: none;
}

#alertbox {
    display: none;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    text-align: center;
    min-width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(124, 124, 124);
}

#alertbox p {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

#alertbox button {
    width: 75px;
}

#alertbox button:hover {
    background: #555;
    border-color: #555;
}

#nlist {
    z-index: 3;
    display: none;
    height: 100%;
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 190, 248), rgb(147, 230, 255));
    width: 100%;
    padding: 80px 0px;
    overflow-y: auto;
}

#nlist ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#nlist ul a {
    display: block;
    margin: auto;
    max-width: 500px;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    transition: 0.1s ease-out;
}

#nlist ul a:hover {
    font-size: 27px;
    font-weight: 500;
    text-shadow: 0px 0px 10px #fff;
}

.header {
    height: 100%;
    min-height: 320px;
    background: url("backgrounds/header.jpg") fixed;
    background-size: cover;
    color: white;
    font-family: "Kodchasan", sans-serif;
}

.header .layer {
    height: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}

.header .container {
    margin: auto;
    text-align: center;
    text-shadow: 0px 5px 2px rgb(0, 0, 0);
    font-size: 25pt;
}

.header .container span {
    color: rgb(60, 210, 255);
    font-weight: 600;
}

.mybtn {
    color: rgb(60, 210, 255);
    border: 1px solid rgb(60, 210, 255);
    outline: 0;
}

.mybtn:hover {
    color: white;
    border-color: white;
}

.down-l {
    color: rgba(255, 255, 255, 0.7);
    height: 50px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        padding-top: 0;
    }
    50% {
        padding-top: 10px;
    }
}

.main-header {
    font-family: "Kodchasan", sans-serif;
    font-size: 30px;
    max-width: 200px;
    margin: auto;
    border-bottom: 3px solid rgb(60, 210, 255);
    font-weight: 600;
    padding: 20px 0px 10px 0px;
    margin-bottom: 30px;
    text-align: center;
}

.image-cnt {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 6px 6px rgb(158, 158, 158);
}

.details {
    max-width: 300px;
    margin: 0px auto 10px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.details span {
    display: block;
}

.details span.name {
    font-size: 22px;
    color: black;
}

.details span.loc {
    font-size: 14px;
    color: #999;
}

.bio {
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}

.bio span {
    color: rgb(105, 105, 105);
    margin: 0;
    margin-bottom: 10px;
}

.bio p {
    color: #555;
}

.image-cnt img {
    width: 100%;
}

.skills {}

.prg-cnt {
    font-size: 15px;
    line-height: 30px;
    width: 100%;
    background: rgb(231, 231, 231);
    height: 30px;
    color: #555;
    margin-bottom: 20px;
    text-align: right;
}

.prg-cnt span {
    padding: 0px 10px;
}

.prg {
    text-align: left;
    padding: 0px 10px;
    height: 100%;
    color: white;
    background: linear-gradient( to right, rgb(60, 210, 255), rgba(60, 210, 255, 0.3));
    float: left;
}

.sub-title {
    padding-left: 10px;
    font-weight: 500;
    border-left: 3px solid rgb(60, 210, 255);
}

.html {
    width: 80%;
}

.css {
    width: 60%;
}

.js {
    width: 75%;
}

.react {
    width: 60%;
}

.node {
    width: 65%;
}

.mongo {
    width: 50%;
}

.php {
    width: 75%;
}

.mysql {
    width: 75%;
}

.prj {
    margin-bottom: 20px;
}

.prj-img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.prj-img img {
    width: 100%;
}

.prj-title {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

.prj-tools {
    padding: 10px;
    font-size: 13px;
    color: #ffffff;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.prj-tools span {
    background: rgb(60, 210, 255);
    border-radius: 10px;
    padding: 5px 10px;
}

.prj-desc {
    color: #555;
    padding: 10px;
    margin-bottom: 5px;
}

.visit-prj {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #bebebe;
}

.visit-prj .mybtn {
    width: 100px;
}

.visit-prj .mybtn:hover {
    background: rgb(60, 210, 255);
}

.contact {}

.contact-form form {
    width: 100%;
}

.input-cnt {
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 2px rgb(201, 201, 201);
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(60, 210, 255);
}

.input-cnt label {
    font-size: 25px;
    color: rgb(60, 210, 255);
    line-height: 40px;
    padding: 0px 10px;
    margin-bottom: 0px;
    width: 40px;
}

.input-cnt input {
    flex: 2;
    outline: none;
    border: 0px;
    width: 100%;
    height: 40px;
    padding: 0px 5px;
}

.input-cnt textarea {
    padding: 10px;
    outline: none;
    width: 100%;
    height: 200px;
    resize: none;
    border: 0px;
}

.contact-form form button {
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
    border-width: 2px;
    font-weight: 600;
    color: white;
    background: rgb(60, 210, 255);
}

.contact-form form button:hover {
    background: white;
    color: rgb(60, 210, 255);
    border-color: rgb(60, 210, 255);
}

.other-contact {
    margin-top: 15px;
    padding-top: 10px;
    color: #555;
    border-radius: 5px;
    font-size: 16px;
}

.contact-el {
    padding: 5px;
}

.contact-el i {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 5px;
    color: rgb(60, 210, 255);
}

.footer {
    margin-top: 30px;
    background: black;
}

.footer .footer-cnt {
    padding: 20px 0px 10px 0px;
    color: white;
}

.social {
    text-align: center;
}

.social a {
    font-size: 40px;
    margin: 0px 4px;
    color: white;
}

.social a:hover {
    color: rgb(60, 210, 255);
}

.copyrights {
    font-family: "Roboto Mono", monospace;
    color: #bebebe;
    padding: 5px 0px;
    text-align: center;
    font-size: 12px;
}